<appSettings>
  <add key="EndPointUrl" value="https://azuremeetupdemo.documents.azure.com:443/" />
  <add key="AuthorizationKey" value="Vbaqx2kEAKV3Dg0cD/z1pmUTGOEqLHT4TDxh6ePGc8LD6ML95Rxju0OHnsz+Sq7DyszbgyQuTu+O9uKepjSV3A==" />
  <add key="DatabaseId" value="dbdemo"/>
  <add key="CollectionId" value="demoCollection"/>
</appSettings>